pkgbase = dsh-electron
	pkgdesc = Unofficial self-healing Linux host for the official DeepSeek Harness Web UI
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/Moritz230127/dsh-electron
	arch = x86_64
	license = MIT
	makedepends = npm
	depends = nodejs
	depends = c-ares
	depends = libgcc
	depends = glibc
	depends = gtk3
	depends = libevent
	depends = libffi
	depends = libpulse
	depends = nss
	depends = zlib
	depends = fontconfig
	depends = brotli
	depends = libjpeg-turbo
	depends = flac
	depends = libdrm
	depends = libxml2
	depends = minizip
	depends = opus
	depends = libxslt
	depends = harfbuzz
	depends = freetype2
	depends = xdg-utils
	options = !strip
	options = !debug
	source = dsh-electron-0.1.1.tar.gz::https://github.com/Moritz230127/dsh-electron/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = 3ad2e3a5b0fcd7eab99027ad0df41cd03f8367de47ca0a1eb1db5b4885c7b534

pkgname = dsh-electron
